<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Лабораторна робота №9
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Виконала Тракало Анастасія КН-31, Варіант №10</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <form (ngSubmit)="getResult(l.value, w.value, h.value)">
      <ion-item>
        <ion-input #l type="number" placeholder="Length"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input #w type="number" placeholder="Width"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input #h type="number" placeholder="Height"></ion-input>
      </ion-item>
      <ion-button type="submit">Calculate</ion-button>
    </form>
  </ion-card>

  <ion-card *ngIf="view.infoPyramid">
    <ion-item>
      <ion-label>{{ view.infoPyramid }}</ion-label>
    </ion-item>
  </ion-card>
</ion-content>